@page
@model BeautyArtists.Areas.Identity.Pages.Account.RegisterChoiceModel
@{
    ViewData["Title"] = "Choose Registration Type";
}

<h2 class="text-center mt-4">Select Registration Type</h2>

<div class="d-flex justify-content-center mt-5 gap-4">
    <form method="get" asp-page="/Account/RegisterClient">
        <button type="submit" class="btn btn-primary btn-lg">Register as Client</button>
    </form>

    <form method="get" asp-page="/Account/RegisterArtist">
        <button type="submit" class="btn btn-success btn-lg">Register as Artist</button>
    </form>
</div>
